name: Python package

on:
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]
    steps:
     - name: Git checkout
       uses: actions/checkout@v2
      
    - name: Run Sphinx doctest
      run: |
        make -C docs doctest
